body{
    background-color: #d8d1d1;
    font-family: 'Roboto', sans-serif;
   
  
}
.cabecalho{
    background-color: black;
    height: 80px;
    

}

.cabecalho .container{
    width: 1170px;
    margin: 0 auto;
    height: 80px;
    padding: 0 15px;
}

.imgheader{
    width: 133px;
    
}

.cabecalho nav{
    margin: 0 30px;
}
.menu-opcoes{
    font-size: 0.9rem;
    font-style: normal;
    font-weight: bold;
    text-transform: none;
    color: #FFFFFF;
  
}

.menu-opcoes a{
    color: #d8d1d1;
    text-decoration: none;
    margin: 0 20px;
    
}
.menu-opcoes .perfil{
    margin: 0 -30px;
}
.menu-opcoes a:hover{
    color: #1ed760;
}
.login{
    background: none;
    border: none;
}
.login:focus{
    outline: none;
}

.brunin{
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.perfil{
    display: flex;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 24px;

}
.submenu{
    display: none;
    position: absolute;
    top: 75px;
    width: 150px;
    height: 65px;

    border-radius: 10px;


    font-size: 17px;
    font-weight: bold;
    background-color: #ebebeb;
    
}
.submenu a{
    color: rgb(68, 68, 68);
}
.mostra-submenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 9px;
}


/*////////////FIM DO HEADER////////////////*/

/*////////////VEJA O QUE ROLOU NO SEU SPOTIFY////////////////*/

.retrospectiva{
    background-color: #cb1582;
}

.retrospectiva .container{

    width: 1170px;
    margin: 0 auto;    
    padding-top: 80px;
    padding-bottom: 120px ;

}

.div_retrospectiva{
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    
}

.div-direita{
    color:#a5ffef;
    width: 555px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.div-direita h2{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-style: normal;
    text-transform: uppercase;
}
.div-direita h3{
    width: 500px;
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    flex-wrap: wrap;
}
.div-direita p{
    font-size: 18px;
    line-height: 24px;
}
.div-direita button{
        margin-top: 1em;
        background:#a5ffef;
        border: 0;
        padding: .6em;
        font-size: 1.02em;
        text-transform: uppercase;
        border-radius: 50px;
        font-weight: bold;
        color: #cb1582;
        width: 350px;
        height: 50px;
}
.div-direita button:hover{
    background: #b1f7ea;
    transform: scale(1.02);
}
.div-direita button:focus{
    outline: none;
}

.div-esquerda{
    margin-left: 100px;
}
.fundo {
    
    display: block;
    line-height: 100px;
    position: absolute;
    text-align: center;
    width: 500px;
    height: 310px;

    background: linear-gradient(rgb(0, 0, 255),rgb(165, 222, 255),rgb(255, 255, 110),rgb(221, 49, 49),black) ;
    left: -55px;
    top: 40px;
    z-index: 0;
    opacity:1;
}

.imagem{
    position: relative;    
}
.imagem img{

    width: 390px;
    height: 400px;
    position: absolute;

}
.imagem h2{
    position: absolute;
    font-size: 40px;
    line-height: 64px;
    font-weight: bold;
    color:  #cb1582;
    margin: 40px;
    margin-top: 250px;
}





/*/////////////////////ESCUTE DE NOVO//////////////////////*/

.webPlayer{
    background: linear-gradient(#c074b2,#000000);
}
.webPlayer .container{

    width: 1170px;
    margin: 0 auto;    
    padding-top: 130px;
    padding-left: 50px;

    display: flex; 

    justify-content: space-between;

}

.div-web{
    color: rgb(255, 255, 255);
    width: 340px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
.div-web h2{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-style: normal;
    
}
.div-web h3{
    width: 340px;
    font-size: 74px;
    line-height: 80px;
    font-weight: bold;
    flex-wrap: wrap;
    
}
.div-web p{

    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    flex-wrap: wrap;

}
.div-web button{
        margin-top: 1em;
        background: #1ed760;
        border: 0;
        padding: .6em;
        font-size: 1.07em;
        text-transform: uppercase;
        border-radius: 50px;
        color: white;
        width: 300px;
        height: 50px;
}
.div-web button:hover{
    background: #28fc72;

}
.div-web button:focus {
    outline: none;
}


.destaques{

    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 42% 42% 42%;
    grid-template-rows: 40% 40%;
    height: calc(72vh - 50px);
    column-gap: 15px;
    row-gap: 15px;
    padding-right: 200px;

    height: 600px;

}


.destaques__titulo{

    display: flex;
    align-items: center;
    justify-content: center;
   

    background: rgba(0,0,0,.8);
    color: #fdfdfd;
    padding: .1rem;
    text-align: center;
    width: 98.7%;
    height: 99%;

    opacity: 0;

}

.destaques__titulo .titulo_container{
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.destaques__titulo small{
    color: grey;
    font-weight: bold;
}


.destaques__titulo:hover{
    transition: 0.3s;
    opacity: 1;
    
}



 .destaques__principal{
    background: url('../image/lofi.jpg') center / cover no-repeat;
}
.destaques__principal:nth-child(2){
    background: url('../image/midnight.jpg') center / cover no-repeat;
}
.destaques__principal:nth-child(3){
    background: url('../image/unknown.jpg') center / cover no-repeat;
}
.destaques__principal:nth-child(4){
    background: url('../image/jacobbanks.jpg') center / cover no-repeat;
}
.destaques__principal:nth-child(5){
    background: url('../image/caramelows.jpg') center / cover no-repeat;
}
.destaques__principal:nth-child(6){
    background: url('../image/dionisio.jpg') center / cover no-repeat;
}

/*/////////////////////APROVEITE//////////////////////*/
.aproveite{
    background-color: #eff3f2;
    padding-top: 90px;
}
.aproveite .container{
    
    margin: 0 auto;
    width: 1170px;
    
}

.aproveite h2{
    font-size: 45px;
    font-weight: bold;
    padding-left: 30px;
}
.outros-itens{
    margin: 30px;
}
.outros h3{
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}
.outros p{
    font-size: 15px;
    padding-bottom: 50px;
}
.outros a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #16c051;
    text-transform: uppercase;
}
.outros{
    padding: 60px;
    padding-bottom: 90px;
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
}
/*////////////FIM DO CONTEUDO////////////////*/

/*////////////FOOTER////////////////*/


.rodape{

    background-color: black;
    color: white;
   
    
}
.rodape-navMap{
    height: 100% ;
    
}

.rodape .container{
    
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 90px;
    

    width: 1170px;
    
}
.rodape-image{
    width: 133px;
}

.titulo-rodape{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
}




.links{
    width: 100%;
    height: 346px;
}
.links a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 15px;
}
.links li{
    padding: 10px;
}
.links a:hover{
    color: #1ed760;
}
.links h4{
    margin: 0 30px;
    margin-bottom: 10px;

}
.redesSociais{
   
    font-size: 30px;
}
.redesSociais a{

    padding: 10px; 
  
    font-size: 30px; 
  
    width: 30px;
  
    text-align: center;
  
    text-decoration: none;
  
    margin: 5px 2px; 
  
    border-radius: 50%;  
  
    background: rgb(36, 36, 36); 
  
    color: rgb(255, 253, 253);
  
}

.redesSociais a:hover{
    color: #01c044;
}
  

.brasil{
   
    font-size: 13px;
    color: #919496;
    margin-bottom: 10px;
}
.brasil p{
    margin-left: 8px;
}
.brasil:hover{
    color: #1ed760;
}
.brasil img{
    width: 26px;
}


.finalizacao{
    margin: 0 20px;
    margin-bottom: 65px;
    
}
.finalizacao .container{
    padding: 0px;
    margin-top: 0px;
 
}

.finalizacao-menu a{
    color: #919496;
    text-decoration: none;

    padding: 8px ;
    font-size: 11px;
}
.finalizacao-menu a:hover{
    color: #1ed760;
}

.copyright{
    color: #919496;
    font-size: 11px;
    margin-right: 50px;
}

